<!DOCTYPE html>
<html>
<!--START OF HEAD-->
    <head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
        <title>Finstigram</title>
    </head>
<!--START OF BODY-->
    <body>
        Hello World
        <header>
            <h1>Finstigram</h1>
        </header>
        <main role="main">
            <article class="finstigram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j" class="profilepic">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j" class="mainpic">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>sharky_j: Out for the long weekend...too embarrassed to show y'all the beach bod!</p>
                    </li>
                </ul>
            </article>
            <article class="finstigram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum" class="profilepic">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/whale.jpg" alt="finstigram post from kirk_whalum" class="mainpic">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>kirk_whalum: #weekendvibes</p>
                    </li>
                </ul>
            </article>
            <article class="finstigram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa" class="profilepic">
                    <h2>marlin_peppa</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="http://naserca.com/images/marlin.jpg" alt="finstagram post from marlin_peppa" class="mainpic">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>marlin_peppa: lunchtime!</p>
                    </li>
                </ul>
            </article>
        </main>
    </body>
</html>